_site
/git/osx/osx.xcodeproj/project.xcworkspace
/git/osx/osx.xcodeproj/xcuserdata
*.xcuserstate
a.out
main.exe
*.obj
Debug
Release
ipch
*.sdf
*.user
*.suo
a.exe.manifest
a.exe
/osx/build
/osx/cse441.pkg
/working/libfreetype-6.dll
/working/SDL2.dll
/working/SDL2_ttf.dll
/working/zlib1.dll
/working/current_node

